@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t8j3jj');
  src:  url('fonts/icomoon.eot?t8j3jj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t8j3jj') format('truetype'),
    url('fonts/icomoon.woff?t8j3jj') format('woff'),
    url('fonts/icomoon.svg?t8j3jj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_action_account_circle:before {
  content: "\e900";
}
.icon-icon_action_bolt:before {
  content: "\e901";
}
.icon-icon_action_dashboard_active:before {
  content: "\e902";
}
.icon-icon_action_dashboard_Inactive:before {
  content: "\e903";
}
.icon-icon_action_delete_outline:before {
  content: "\e904";
}
.icon-icon_action_done_all:before {
  content: "\e905";
}
.icon-icon_action_event:before {
  content: "\e906";
}
.icon-icon_action_female:before {
  content: "\e907";
}
.icon-icon_action_help_outline:before {
  content: "\e908";
}
.icon-icon_action_info:before {
  content: "\e909";
}
.icon-icon_action_install:before {
  content: "\e90a";
}
.icon-icon_action_label_add:before {
  content: "\e90b";
}
.icon-icon_action_label:before {
  content: "\e90c";
}
.icon-icon_action_language:before {
  content: "\e90d";
}
.icon-icon_action_lock:before {
  content: "\e90e";
}
.icon-icon_action_male:before {
  content: "\e90f";
}
.icon-icon_action_minimize:before {
  content: "\e910";
}
.icon-icon_action_power_settings_new:before {
  content: "\e911";
}
.icon-icon_action_pulse:before {
  content: "\e912";
}
.icon-icon_action_query_builder:before {
  content: "\e913";
}
.icon-icon_action_range:before {
  content: "\e914";
}
.icon-icon_action_schedule_start:before {
  content: "\e915";
}
.icon-icon_action_schedule_stop:before {
  content: "\e916";
}
.icon-icon_action_search:before {
  content: "\e917";
}
.icon-icon_action_send:before {
  content: "\e918";
}
.icon-icon_action_settings:before {
  content: "\e919";
}
.icon-icon_action_shopping_basket:before {
  content: "\e91a";
}
.icon-icon_action_subject:before {
  content: "\e91b";
}
.icon-icon_action_timeline:before {
  content: "\e91c";
}
.icon-icon_action_verified_user:before {
  content: "\e91d";
}
.icon-icon_action_work_outline:before {
  content: "\e91e";
}
.icon-icon_alert_error_outline:before {
  content: "\e91f";
}
.icon-icon_av_mic_none:before {
  content: "\e920";
}
.icon-icon_av_playlist_add:before {
  content: "\e921";
}
.icon-icon_av_repeat:before {
  content: "\e922";
}
.icon-icon_communication_call_split:before {
  content: "\e923";
}
.icon-icon_communication_call:before {
  content: "\e924";
}
.icon-icon_communication_chat_bubble_outline:before {
  content: "\e925";
}
.icon-icon_communication_mail:before {
  content: "\e926";
}
.icon-icon_content_add:before {
  content: "\e927";
}
.icon-icon_content_filter_list:before {
  content: "\e928";
}
.icon-icon_content_report_gmailerrorred:before {
  content: "\e929";
}
.icon-icon_content_sort:before {
  content: "\e92a";
}
.icon-icon_content_waves:before {
  content: "\e92b";
}
.icon-icon_device_data_usage:before {
  content: "\e92c";
}
.icon-icon_editor_attach_money:before {
  content: "\e92d";
}
.icon-icon_editor_bar_chart:before {
  content: "\e92e";
}
.icon-icon_editor_show_chart-alt:before {
  content: "\e92f";
}
.icon-icon_editor_show_chart:before {
  content: "\e930";
}
.icon-icon_file_attachment:before {
  content: "\e931";
}
.icon-icon_image_add_a_photo:before {
  content: "\e932";
}
.icon-icon_image_camera:before {
  content: "\e933";
}
.icon-icon_image_edit:before {
  content: "\e934";
}
.icon-icon_image_photo:before {
  content: "\e935";
}
.icon-icon_maps_car:before {
  content: "\e936";
}
.icon-icon_maps_compass:before {
  content: "\e937";
}
.icon-icon_maps_delivery_shipping:before {
  content: "\e938";
}
.icon-icon_maps_directions_transit:before {
  content: "\e939";
}
.icon-icon_maps_directions:before {
  content: "\e93a";
}
.icon-icon_maps_hotel:before {
  content: "\e93b";
}
.icon-icon_maps_layers:before {
  content: "\e93c";
}
.icon-icon_maps_local_bank:before {
  content: "\e93d";
}
.icon-icon_maps_local_gas_station:before {
  content: "\e93e";
}
.icon-icon_maps_local_pharmacy:before {
  content: "\e93f";
}
.icon-icon_maps_map_active:before {
  content: "\e940";
}
.icon-icon_maps_map_inactive:before {
  content: "\e941";
}
.icon-icon_maps_my_location:before {
  content: "\e942";
}
.icon-icon_maps_place:before {
  content: "\e943";
}
.icon-icon_maps_restaurant:before {
  content: "\e944";
}
.icon-icon_navigation_arrow_back_ios:before {
  content: "\e945";
}
.icon-icon_navigation_arrow_backward:before {
  content: "\e946";
}
.icon-icon_navigation_arrow_down:before {
  content: "\e947";
}
.icon-icon_navigation_arrow_forward:before {
  content: "\e948";
}
.icon-icon_navigation_check:before {
  content: "\e949";
}
.icon-icon_navigation_close:before {
  content: "\e94a";
}
.icon-icon_navigation_expand_more:before {
  content: "\e94b";
}
.icon-icon_navigation_full_screen:before {
  content: "\e94c";
}
.icon-icon_navigation_menu:before {
  content: "\e94d";
}
.icon-icon_navigation_more_horiz:before {
  content: "\e94e";
}
.icon-icon_social_facebook:before {
  content: "\e94f";
}
.icon-icon_social_group:before {
  content: "\e950";
}
.icon-icon_social_instagram:before {
  content: "\e951";
}
.icon-icon_social_notifications_none:before {
  content: "\e952";
}
.icon-icon_social_person_add:before {
  content: "\e953";
}
.icon-icon_social_person_disabled:before {
  content: "\e954";
}
.icon-icon_social_person_done:before {
  content: "\e955";
}
.icon-icon_social_person_outline:before {
  content: "\e956";
}
.icon-icon_social_share:before {
  content: "\e957";
}
.icon-icon_social_twitter:before {
  content: "\e958";
}
